.home {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}
.home__container {
  object-fit: contain;
  width: 100%;
  margin-top: -5rem;
}
.home__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1rem;
  z-index: 1;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  width: 40%;
}
.feature__1 {
  display: flex;
  flex-direction: column;
}
.car-img{
  max-height: 500px;
  object-fit: contain;
  border-radius: 10%;
}
.shopProductsHeading{
  margin: 5rem 0 3rem 0;
  text-align: center;
  font-size: 5rem;
  font-family: "Object Sans Heavy";
}
.shopProductsSubHeading{
  margin: 3rem 0 3rem 0;
  text-align: center;
  font-size: 1.5rem;
}
.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  padding: 1rem 0 1rem 0;
  background-color: #c4293c;
  margin-top: 6rem;
}
.abt-content {
  font-size: 1.5rem;
  color: white;
}
.abt-img {
  align-self: flex-end;
  border-radius: 20%;
}
.abt-img-1 {
  border-radius: 50%;
  padding: 1rem;
  border: 5px solid white;
}

.sml-btn {
  width: 100%;
  font-family: "Object Sans";
  background-color: #c4293c;
  color: white;
  outline: none;
  border: none;
  padding: 0.5rem;
  text-align: center;
  align-self: center;
  margin: 1rem 0 0 0;
}
.sml-btn:hover {
  background-color: white;
  color: #c4293c;
  outline: 1px solid #c4293c;
}
